body {
  font-family: Helvetica;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: bisque;
}
.page-header ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style: none;
}
.page-header a {
  display: flex;
  padding: 0.5em;
}
nav {
  background-color: mediumslateblue;
  margin: 5px;
}
